#Bblablabalba

# Format: /path/to/file @username @org/team

# Anything in shell-scripts/ that is a *.sh file is owned by Mario's team
# /shell-scripts/*.sh @team-mushroom-kingdom-mario

# Anything in images AT ALL is owned by Toad's team
# /images @org-mushroom-kingdom/team-peach

# Anything in TBD is owned by Peach

# The README is also owned by Peach
/README.md @org-mushroom-kingdom/team-peach
